li{
    list-style-type: decimal-leading-zero;
}
div{
    background-color: rgb(190, 188, 188);
    border-left-color: red ;
    border-left-width: 5px;
    border-left-style: solid;

}

ol{
    padding-top: 5px;
    padding-bottom: 5px;
}